@import url("datepicker.css");

html, body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

body, textarea, input, select {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

.submenu form.inline {
    display: inline;
}
input[type=text] {
    width: 20em;
}
.inline input[type=text] {
    width: 10em;
}

optgroup option {
    margin: 0;
    padding: 0 0 0 10px;
}

textarea {
    width: 40em;
    height: 20em;
}

textarea.small {
    width: 40em;
    height: 5em;
}
textarea.small2 {
    width: 29.1em;
    height: 7em;
    margin-right: 10px;
}

span.wh50p {
    width: 50%;
    display: block;
    float: left;
}

thead td {
    font-weight: bold;
    text-align: center;
}
thead select {
    font-size: 80%;
    width: 100px;
}

tfoot td {
    font-size: 10px;
}

.remove-link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/layout/delete-icon.png) no-repeat 0 0;
    background-size: 16px;
}

#tableProducts tbody tr:hover {
    background: #ddf;
}
    #tableProducts .big-font,
    #tableProducts .big-font input,
    #tableProducts .big-font .minor {
        font-size: 15px;
    }
    #tableProducts .top-price-coll {
        white-space: nowrap;
    }

    #tableProducts .currency-green {
        background: #53d151;
    }
    #tableProducts .currency-yellow,
    .price-search .yellow {
        background: #ffd736;
    }
    .price-search {
        font-size: 9pt;
    }
    .price-search th {
        white-space: nowrap;
    }

#divMenuAdmin {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #333;
    text-align: center;
}

#divMain {
    padding: 0.5em;
    position: relative;
}

#divMain .img-catalog-banners img {
    max-width: 175px;
}
#divMain input.video-link {
    width: 25em;
}
textarea.banner-link {
    width: 11em;
    height: 11em;
}
#divMain .img-headbanners img {
    max-width: 500px;
}
#divMain textarea.headbanner-link {
    width: 15em;
    height: 8em;
}

.settings-form input[type=text] {
    width: 21em;
}
.settings-form .multicheckbox label {
    float: left;
}
.settings-form .multicheckbox br {
    display: none;
}
.settings-page .success-message {
    line-height: 20px;
    text-align: center;
    width: 692px;
    border: 2px solid #006d00;
    margin-bottom: 20px;
    background: #73e27c;
    font-weight: bold;
    font-size: 12px;
}
.settings-form .buttons {
    width: 695px;
}
.settings-form .update-new-products {
    float: right;
}
.settings-form .clear-cache {
    margin-left: 10px;
    float: right;
}

#divBreadcrumb, .breadcrumb,
#divBreadcrumb .breadcrumb,
.platforms-search {
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 0.5em;
}
#divBreadcrumb span {
    font-size: 10pt;
    font-weight: normal;
}
#divBreadcrumb span.responsible {
    font-size: 12pt;
    font-weight: bold;
    margin-left: 100px;
}
.note, #divBreadcrumb .note {
    font-size: 8pt;
}

.platforms-breadcrumb {
    float: left;
    margin-right: 250px;
}

.submenu {
    margin-bottom: 0.7em;
}

.orders-log {
    max-width: 460px;
    position: absolute;
    top: 65px;
    right: 0.5em;
    font-size: 8pt;
    max-height: 180px;
    overflow-y: auto;
}

input.pos {
    font-size: 70%;
    width: 2em;
}
input.banner-title {
    width: 14em;
}

input.price {
    font-size: 70%;
    width: 5em;
}

input.num {
    width: 3em;
}

.availability {
    max-width: 60px;
}
.availability.active {
    color: #00a312;
}
.availability.waiting {
    color: #CD0AD2;
}
.availability.supplying {
    color: #CD0AD2;
}
.availability.call {
    color: #fc6001;
}
.availability.inactive {
    color: #c5131a;
}
.prices tr.inactive {
    background: #ffc6a6;
}

select.status {
    max-width: 100px;
    font-size: 70%;
}
/* #1301 */
select.status.edit {
	max-width: 160px !important;
	font-weight: normal !important;
	font-size: 100% !important;
}
select.status option {
    color: #000000;
    background: #ffffff;
}
select.status.active, select.status option[value="active"] {
    color: #000000;
    background: #9fff95;
}
select.status.inactive, select.status option[value="inactive"] {
    color: #000000;
    background: #fff;
}
select.availability {
    max-width: 100px;
    color: #000 !important;
}

select.vendor {
    max-width: 150px;
    font-size: 70%;
}

select.sch {
    font-size: 70%;
    width: 80px;
}
input.inline {
    font-size: 80%;
    width: 40px;
}

.agreements input {
    margin-bottom: 5px;
}

.legend {
    float: right;
}
.legend span {
    border: 1px solid #999999;
    padding: 2px 5px;
}
.top {
    background: #ffffd7;
}
.old {
    background: #ffcccc;
}
.worn {
    background: #ccffff;
}

.parent td.name {
    font-weight: bold;
}

.child td.name {
    font-style: italic;
}

.active td.name  {
    color: #333333;
}

.inactive td.name {
    color: #777777;
}
    tr.inactive td.name .edit-bracket {
        color: #000;
    }

tr.status_new {
    background-color: #AAAAFF;
}
tr.default {
    font-weight: bold;
}
tr.vip, .vip,
tr.cancelled {
    background-color: #ff6666;
}
.pt_3 .branch .minor, th.pt_3,
.pt_5 .branch .minor, th.pt_5 {
    background-color: #ff6666;
}

.success {
    color: #00a312;
}

.warning, .warning a {
    color: #FF0000;
}

.big-warning {
    color: #FF0000;
    font-size: 12pt;
    font-weight: bold;
}

.big {
    font-size: 12pt;
    font-weight: bold;
}

/* PRINT ORDER */
#divOrder {
    padding: 1em;
}

.order_header {
    
}

.order_header h1 {
    font-size: 14pt;
    margin: 0; padding: 0;
    text-decoration: underline;
}

.order_header h2 {
    font-size: 12pt;
    margin: 0; padding: 0;
}

h2 {
    font-size: 12pt;
}
h3 {
    font-size: 11pt;
    margin: 0.5em;
    padding: 0;
}
    h3.vendor span {
        font-size: 0.85em;
        font-weight: normal;
    }

table.order {
    margin: 0.5em 0;
    width: 100%;
    border-collapse: collapse;
}

table.order td {
    margin: 0;
    padding: 0.5em;
    border: 1px solid #000000;
}

table.order thead td {
    font-weight: normal;
    font-style: italic;
}

table.order tfoot td {
    font-weight: bold;
    border: none;
}
/*
table.data {
    border-collapse: collapse;
}
table.data thead {
    background: #cccccc;
}
table.data thead td a {
    color: #000099;
}
table.data thead td {
    color: #666666;
}
table.data thead a.active {
    color: #cc0000;
}

table.data td {
    border: 1px solid #cccccc;
    padding: 3px;
}
*/
.minor {
    font-size: 7pt;
}
.major {
    font-size: 11pt;
    font-weight: bold;
}

div.hr {
    border-top: 1px dashed #000000;
    font-size: 0;
    margin: 30px 0;
}

/* ********** ADD / EDIT TABLE ********** */
td.buttons {
    padding-top: 0.3em;
    border-top: 1px dashed #333;
    text-align: center;
}

/* ********** FORM ********** */
input.submit, input.button {
    width: 10em;
}

input.rest {
    color: red;
}

input.small {
    width: 6em;
}

/* ********** PROPBLOCKS ********** */
span.filter {
    font-weight: bold;
}

.propblock {
    padding-bottom: 1em;
}
.propblock .name {
    font-weight: bold;
}
.propblock span.filter {
    color: #ff0000;
}

li.contacts-0 {
    color: #999999;
}
li.contacts-1 {
    color: #000000;
}
li.contacts-2 {
    color: #ff6666;
    text-decoration: line-through;
}

.filter .active, thead .active, thead a.active {
    color: #ff0000;
    font-weight: bold;
}

/* ********** ANCHORS ********** */
a {
    color: #0000ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #92278f;
}

sup {
    color: #ff0000;
    font-weight: bold;
}

#pError {
    color: #ff0000;
    font-weight: bold;
}

.part-no {
    font-size: 10px;
}
.errors {
    color: #FF0000;
}

.wholesale {
    background: #cccccc;
}
.worker {
    font-weight: bold;
}
.current {
    background: #ccc;
    font-size: 11px;
}
.own {
    background: #ffe0e0;
}
.wholesale.own {
    background: #ffcccc;
}
.curr {
    font-weight: bold;
}
.status-0 {
    color: #ff6666;
    text-decoration: line-through;
    background: #ffe0e0;
}

.up {
    color: #c5131a;
}
.down {
    color: #019f1f;
}
.zero {
    color: #777777;
}
.min {
    background: #53d151;
}
.all {
    font-weight: bold;
}

table.catab {
    border-collapse: collapse;
}
table.catab tr.level-0 {
    background: #cccccc;
}
table.catab tr:hover, table[border="1"] > tbody > tr:hover {
    background: #ffe0e0;
}
table.catab td {
    border: 1px solid;
    padding: 2px;
}
table a.minus, table a.cancelled, .minus {
    color: #c5131a;
}
table a.plus, table a.completed, .plus {
    color: #019f1f;
}
.vip .minus {
    color: #7f0d11;
}
.vip .plus {
    color: #015311;
}

table.data .cancelled {
    color: #c5131a;
}
table.data .completed {
    color: #019f1f;
}
table.data .processing, table.data .paid, table.data .delivering, table.data .completed {
    background: #ffb;
}
table.data .kiev {
    background: #cccccc;
}
.price, .date {
    white-space: nowrap;
}

table.payments td {
    width: 3em;
}
table.payments td.order {
    background: #aaffaa;
}
table.schedule td {
    padding: 2px;
}

.many {
    color: #2a4aca;
    background: #ffd736;
    font-weight: bold;
}

.chart {
    width: 480px;
    height: 160px;
    margin: 10px;
}
.chart-one {
    width: 100%;
    height: 160px;
    margin: 10px 0;
    overflow: hidden;
    padding: 0;
}
.week {
    width: 160px;
    height: 160px;
    margin: 10px;
}

.autocomplete {
    position: absolute;
    width: 250px;
    background-color: white;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
}
.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.autocomplete ul li.selected {
    background-color: #ffb;
}
.autocomplete ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
/*    height: 32px;*/
    cursor: pointer;
}
.autocomplete .informal {
    font-size: 8pt;
}
.autocomplete .informal > div {
    display: none;
}

form.prices {
    display: inline-block;
}
form.prices input[type="submit"] {
    float: right;
    margin: 10px 0;
}

a[class|="cod"] {
    color: #000000;
    padding: 0 4px;
    border: 1px solid transparent;
    text-decoration: none;
}
a[class|="cod"]:hover {
    border-color: #0000ff;
}
.cod-1, .print-2, .bg-green {
    background: #53d151;
}
.cod-2, .print-1 {
    background: #ffd736;
}
.cod-3 {
    background: #ff6666;
}
.print-3 {
    background: #ffa117;
}

.credit {
    background: #ffffd7;
}
/* #1369 */
.user_phone {
    background-color: #ffcccc;
}

.footer {
     border-top: 1px solid #cccccc;
     text-align: center;
     font-size: 11px;
     color: #666666;
     clear: both;
}

aside {
     float: left;
     margin: 0 10px;
}

.comment .major {
    min-height: 16pt;
    border: 1px solid transparent;
}
.comment .major:hover {
    border-color: #666666;
    cursor: text;
}
.comment input {
    display: none;
}

.content-block {
	/*border: 1px solid #333;*/
	width: 95%;
	margin: 20px auto 10px;
}
.content-block table {
	width: 100%;
	border: 0;
	border-spacing: 1px;
	/*background-color: #DDD;*/
	background-color: #DDD;
	margin: 20px 0;
}

.content-block table td {
	border: 0;
	padding: 10px;
	background: #FFF;
	color: #333;
	font-size: 1.1em;
}
.content-block table tbody tr:hover td {
	background: /*#F4F4F4*/ #FEFFCB;
}
.content-block table tr:nth-child(even) td {
	background: /*#FAFAFA*/ #F9FCFC;
	
}
.content-block table thead td {
	/*background: #DCF0FF;*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.56, #FEFEFE), color-stop(1, #F3F3F3));
	background: -moz-linear-gradient(top center, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	background-image: -o-linear-gradient(-90deg, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	background: linear-gradient(to bottom, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	outline: 0;
}
.content-block .actions-menu {
	list-style: none;
	padding: 0;
	text-align: left;
}

.content-block .actions-menu li {
	display: inline-block;
	margin: 5px 3px
}
.content-block .actions-menu li a {
	padding: 0.5em 1em;
	font-size: 1.2em;
	color: #888;
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border: 1px solid #EEE;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
	outline: 0;
}
.content-block .actions-menu li a:hover,
.content-block .actions-menu li a:active,
.content-block .actions-menu li a.active {
	color: #333;
	background: #FEFEFE;
	border: 1px solid #CCC;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.56, #FEFEFE), color-stop(1, #F3F3F3));
	background: -moz-linear-gradient(top center, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	background-image: -o-linear-gradient(-90deg, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	background: linear-gradient(to bottom, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
}

.content-block .pagination {
	list-style: none;
	padding: 0;
	text-align: center;
}

.content-block .pagination li {
	display: inline-block;
	margin: 5px 3px
}
.content-block .pagination li a,
.content-block .pagination li span {
	padding: 0.5em 1em;
	font-size: 1.2em;
	color: #888;
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border: 1px solid #EEE;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
	outline: 0;
}
.content-block .pagination li a:hover,
.content-block .pagination li a:active,
.content-block .pagination li span.active {
	color: #333;
	background: #FEFEFE;
	border: 1px solid #CCC;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.56, #FEFEFE), color-stop(1, #F3F3F3));
	background: -moz-linear-gradient(top center, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	background-image: -o-linear-gradient(-90deg, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	background: linear-gradient(to bottom, #FFFFFF 0%, #FEFEFE 56%, #F3F3F3 100%);
	outline: 0;    
}
.content-block .pagination li span.title {
	border: 0;
	color: #888;
}

.status {
	
	font-weight: bold;
	font-size: 0.9em;	
}
.status-active {
	color: #14B41B;
}
.status-inactive {
	color: #F00;
}

.model-form {
    color: #333;
	margin: 20px 0;
    padding: 1em;
	border: 1px solid #DDD;
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    border-radius: 0.35em;
    background-color: #F6F6F6;    
}

.model-form input,
.model-form select,
.model-form button,
.model-form textarea,
.model-form dd span {
    display: block;
    width: 100%;
	height: 2em;
	font-size: 1.1em;
	vertical-align: top;
	padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.3em 0.5em;
    border: 1px solid #ccc;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
	outline: 0;
}
.model-form select {
	width: auto;
}

/*.model-form input {
    height: 2em;
}*/
.model-form button, 
.model-form input[type="button"], 
.model-form input[type="reset"], 
.model-form input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	width: auto;
	padding: 0 20px;
	margin: 0 auto;
	font-size: 1.2em;
	color: #777;
	background: #FEFEFE;
	padding: 0.5em 1em;
	font-size: 1.2em;
	height: auto;
	border: 1px solid #CCC;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.76, #FEFEFE), color-stop(1, #F3F3F3));
	background: -moz-linear-gradient(top center, #FFFFFF 0%, #FEFEFE 76%, #F3F3F3 100%);
	background-image: -o-linear-gradient(-90deg, #FFFFFF 0%, #FEFEFE 76%, #F3F3F3 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #FEFEFE 76%, #F3F3F3 100%);
	background: linear-gradient(to bottom, #FFFFFF 0%, #FEFEFE 76%, #F3F3F3 100%);    
}
.model-form button:hover, 
.model-form input[type="button"]:hover, 
.model-form input[type="reset"]:hover, 
.model-form input[type="submit"]:hover {
	color: #333;
	border: 1px solid #AAA;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(0.26, #FFFFFF), color-stop(1, #EAF6DE));
	background: -moz-linear-gradient(top center, #FFFFFF 0%, #FFFFFF 26%, #EAF6DE 100%);
	background-image: -o-linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF 26%, #EAF6DE 100%);
	background: -ms-linear-gradient(top, #FFFFFF 0%, #FFFFFF 26%, #EAF6DE 100%);	    
	background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 26%, #EAF6DE 100%);
}

.model-form textarea {
    height: 10em;
}

.model-form-label {
    display: block;
    margin: 0 0 0.5em;
}
.model-form dt {
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: bold;
	color: #555;    
}
.model-form dt > label.required::after {
	content: " *";   
}
.model-form dd {
	margin-left: 0px;
	padding: 0 0 1em;  
}
.model-form dd span {
	background: #FCFCFC;
}
.model-form dd p.description {
	margin: 0px;
	padding: 0px;
	color: #999;
}
.model-form .df-form-error {
	border-color: #FF0000;
}
.model-form .df-form-error-message,
.model-form ul.errors li {
	color: #FF0000;
	text-align: left;
	font-size: 0.9em;
}
.model-form ul.errors {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

label.compiled {
	margin-left: 200px;
	cursor: pointer;
}
a.order-confirm {
    margin-left: 203px;
}

#filedrag {
	border: 3px dashed #ccc;
	padding: 15px;
	margin: 10px 0;
	text-align: center;
}
#filedrag.hover {
	color: #2B7FB5;
    border-color: #2B7FB5;
}
    #filedrag input {
        margin-bottom: 5px;
    }

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

ul.ui-autocomplete {
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 173px;
    max-height: 195px;
}
    ul.ui-autocomplete li {
        list-style: none;
        padding: 1px 0;
        white-space: nowrap;
    }
    ul.ui-autocomplete li.ui-state-focus {
        background: #1e90ff;
        color: #fff;
        font-weight: normal;
    }

ul.ui-autocomplete.vendors-combobox,
ul.ui-autocomplete.vendors4-combobox,
ul.ui-autocomplete.vendors5-combobox,
ul.ui-autocomplete.vendors6-combobox,
ul.ui-autocomplete.managers2-combobox {
    width: 100px;
    max-height: 142px;
}
ul.ui-autocomplete.vendors4-combobox {
    width: 194px;
}
    ul.ui-autocomplete.vendors-combobox li,
    ul.ui-autocomplete.vendors5-combobox li,
    ul.ui-autocomplete.vendors6-combobox li,
    ul.ui-autocomplete.vendors4-combobox li,
    ul.ui-autocomplete.managers2-combobox li {
        font-size: 10px;
    }
ul.ui-autocomplete.brand-combobox,
ul.ui-autocomplete.hotline-combobox,
ul.ui-autocomplete.brand2-combobox,
ul.ui-autocomplete.brand3-combobox {
    width: 267px;
    max-height: 200px;
}
ul.ui-autocomplete.vendor-combobox {
    width: 197px;
    max-height: 195px;
}
ul.ui-autocomplete.select-сategory-combobox {
    width: 500px;
    max-height: 200px;
}

ul.ui-autocomplete.city-combobox { width: 435px; }
ul.ui-autocomplete.managers-combobox { width: 168px; }
ul.ui-autocomplete.categories-combobox { width: 527px; }
ul.ui-autocomplete.vendors2-combobox { width: 155px; }
ul.ui-autocomplete.vendors3-combobox { width: 287px; }
ul.ui-autocomplete.vendors6-combobox { width: 140px; }
ul.ui-autocomplete.color-combobox { width: 297px; }

.custom-combobox .custom-combobox-input, .custom-combobox a.ui-button {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 0;
    color: #000;
}
.custom-combobox .custom-combobox-input {
    border-right: 0;
    outline: none;
}
.custom-combobox a.ui-button {
    background: url(../img/layout/bg-combobox-select.gif) no-repeat 4px 5px #fff;
    border-left: 0;
    width: 15px;
}
.custom-combobox a.ui-button:hover {
}
.custom-combobox a.ui-button span {
    display: none;
}
.color-combobox .custom-combobox,
.vendor-combobox .custom-combobox,
.select-сategory-combobox .custom-combobox ,
.brand-combobox .custom-combobox ,
.brand2-combobox .custom-combobox ,
.brand3-combobox .custom-combobox ,
.vendors3-combobox .custom-combobox,
.categories-combobox .custom-combobox,
.city-combobox .custom-combobox  {
    font-size: 80%;
}
.brand-combobox .hotline-combobox {
    width: 440px;
    float: left;
}
.brand-combobox .hotline-combobox .custom-combobox {
    float: right;
}
    .custom-combobox .custom-combobox-input {
        float: left;
        padding: 0 0 0 3px;
        width: 250px;
        height: 18px;
    }
    .select-сategory-combobox .custom-combobox .custom-combobox-input {
        width: 482px;
    }
    .vendor-combobox .custom-combobox .custom-combobox-input {
        width: 180px;
    }
    .color-combobox .custom-combobox .custom-combobox-input {
        width: 280px;
    }
    .custom-combobox a.ui-button {
        background-position: 4px 6px;
        height: 18px;
        float: left;
    }
    .city-combobox .custom-combobox .custom-combobox-input { width: 418px; }
    p.categories-combobox, p.vendors3-combobox { overflow: hidden; }
    .categories-combobox b, .vendors3-combobox b { float: left; margin-right: 4px; }
    .categories-combobox .custom-combobox .custom-combobox-input { width: 510px; }
    .vendors3-combobox .custom-combobox .custom-combobox-input { width: 270px; }
    .vendors3-combobox .custom-combobox a.ui-button { margin-right: 4px; }

.color-combobox span.text {
    margin: 0 6px 0 11px;
}
.managers-combobox .custom-combobox  {
    font-size: 85%;
}
    .managers-combobox .custom-combobox .custom-combobox-input {
        width: 150px;
        padding: 0 0 0 4px;
    }
.vendors-combobox .custom-combobox,
.vendors2-combobox .custom-combobox,
.vendors4-combobox .custom-combobox,
.vendors5-combobox .custom-combobox,
.vendors6-combobox .custom-combobox,
.managers2-combobox .custom-combobox {
    position: relative;
    display: block;
    line-height: 16px;
    font-size: 70%;
}
.vendors2-combobox .custom-combobox {
    font-size: 80%;
    width: 260px;
}
    .vendors-combobox .custom-combobox .custom-combobox-input,
    .vendors-combobox .custom-combobox a.ui-button,
    .vendors5-combobox .custom-combobox .custom-combobox-input,
    .vendors6-combobox .custom-combobox .custom-combobox-input,
    .vendors5-combobox .custom-combobox a.ui-button,
    .managers2-combobox .custom-combobox .custom-combobox-input,
    .managers2-combobox .custom-combobox a.ui-button {
        height: 16px;
    }
    .vendors2-combobox .custom-combobox .custom-combobox-input,
    .vendors2-combobox .custom-combobox a.ui-button,
    .vendors4-combobox .custom-combobox .custom-combobox-input,
    .vendors4-combobox .custom-combobox a.ui-button {
        float: left;
        height: 18px;
        padding: 0;
    }
    .vendors-combobox .custom-combobox .custom-combobox-input,
    .vendors5-combobox .custom-combobox .custom-combobox-input,
    .vendors6-combobox .custom-combobox .custom-combobox-input,
    .managers2-combobox .custom-combobox .custom-combobox-input {
        width: auto;
        padding: 0 16px 0 0;
    }
    .managers2-combobox .custom-combobox .custom-combobox-input { width: 90px; }
    .vendors4-combobox .custom-combobox .custom-combobox-input { width: 255px; }
    .vendors6-combobox .custom-combobox .custom-combobox-input { width: 85px; }
    .vendors-combobox .custom-combobox a.ui-button,
    .vendors5-combobox .custom-combobox a.ui-button,
    .vendors6-combobox .custom-combobox a.ui-button,
    .managers2-combobox .custom-combobox a.ui-button {
        position: absolute;
        background-position: 4px 5px;
        height: 16px;
        right: -1px;
    }
    .vendors2-combobox .custom-combobox .custom-combobox-input { padding: 0 0 0 2px; width: 239px; }


#send-to-1c-overlay {
    background: #000;
}
#send-to-1c-container {
    padding: 25px;
    background: #fff;
    border-radius: 11px;
    width: 400px;
    height: 50px;
}
    #send-to-1c-container input.rate {
        width: 8em;
    }
    #send-to-1c-container select#agreementId,
    #send-to-1c-container select#wh_id{
        width: 15em;
    }
    #send-to-1c-container input#submitTo1c {
        width: 12em;
    }
    #send-to-1c-container b,
    #send-to-1c-container strong {
        color: #53d151;
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    #send-to-1c-container b {
        color: #f00;
    }

#vendor-catalog-newproducts-o,
#set-reset-overlay,
#send-payments-overlay {
    background: #000;
}
#vendor-catalog-newproducts-c,
#set-reset-container {
    padding: 25px;
    background: #fff;
    border-radius: 11px;
    width: 370px;
    height: 55px;
    text-align: center;
}
    #set-reset-container input[type=submit] {
        margin-top: 10px;
    }

#vendor-catalog-newproducts-c {
    height: 95px;
    line-height: 23px;
}
    #vendor-catalog-newproducts-c b {
        line-height: 90px;
        color: red;
    }
#copy-compatibility-container {
    height: 70px;
    line-height: 23px;
}
#send-payments-container {
    border-radius: 11px;
    padding: 15px;
    background: #fff;
    width: 300px;
    height: 75px;
    line-height: 23px;
    text-align: center;
}


.printed-log {
    font-weight: bold;
    color: #000;
    padding: 0px 8px 7px;
    font-size: 12px;
}

.repair-table {
}
    .repair-table {
        text-align: center;
        margin-top: 30px;
    }
    .repair-table td {
        height: 50px;
        padding: 0 7px;
    }
    .repair-table .new-elements {
        display: none;
    }
    .repair-table select[name="series_id"] {
        border-radius: 6px;
        width: 140px;
    }
    .repair-table .parts-codes label {
        display: inline-block;
        text-align: right;
        width: 50px;
    }
    .repair-table .parts-codes input {
        max-width: 100px;
        margin: 2px auto;
    }
    .repair-table .parts-codes.hide {
        display: none;
    }
    .repair-table .series-name {
        width: 135px;
    }
    .repair-table .brand3-combobox .custom-combobox {
        position: relative;
        display: inline-block;
    }
    .repair-table .brand3-combobox .custom-combobox input {
        width: 135px;
        border-color: #666;
        border-radius: 6px;
    }
    .repair-table .brand3-combobox .custom-combobox a.ui-button {
        position: absolute;
        right: -2px;
        float: none;
        border-color: #666;
        border-radius: 0 6px 6px 0;
    }
    ul.ui-autocomplete.brand3-combobox {
        width: 134px;
    }

/* upd 19.04 accordion */
.ac-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	z-index: 0;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
	background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 0;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-large{
	height: auto;
}
.ac-large input {
	display: inline-block;
	width: 20%;
}
.ac-large table tr:nth-child(2n+1) {
	width: 10%;
}
.ac-large textarea {
    width:98%;
    height:25px;
    float:left;
}
.ac-large td {
    text-align:center;
}
.ac-large td:first-child, .ac-large td:nth-child(3), .ac-large td:nth-child(4), .ac-large td:nth-child(5) {
    width: 10%;
}
.ac-large input[type="submit"] {
    float:right;
    margin: 10px 30px 10px 0;
}
/* tabs */
.tabs > div, .tabs > input { 
    display: none; 
} 
.tabs label { 
    padding: 5px; 
    border: 1px solid #aaa; 
    line-height: 28px; 
    cursor: pointer; 
    position: relative; 
    bottom: -1px; 
    background: #fff; 
} 
.tabs input[type="radio"]:checked + label { 
    border-bottom: 2px solid #fff; 
} 
.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1), 
.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2), 
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.tabs > input:nth-of-type(4):checked ~ div:nth-of-type(4),
.tabs > input:nth-of-type(5):checked ~ div:nth-of-type(5){ 
    display: block; 
    padding: 5px; 
    border: 1px solid #aaa; 
} 
.table td, .orders td {
	text-align: center;
}
.table td:first-child, .orders td:first-child {
	text-align: left;
}
.orders td:nth-child(3) {
    color: green;
}
.table td:nth-child(4) {
    color: green;
}
.table td:last-child, .orders td:last-child {
    color: red;
}
/* upd 01.06.2016 */
.right_block .active, .left_block .active {
    font-weight:bold;
    color: red;
}
/* upd 04.06.2016 */
.ac-container article p{
    text-align: left;
    padding: 0;
    margin:0;
}
/* upd 27.07.2016 */
#tableProducts > thead {
	background-color: #fff;
	z-index: 999;
}

.product-good-gaps {
    float: right;
    font-size: 15px;
}
    .product-good-gaps ol {
        margin: 5px 0;
        padding-left: 22px;
    }
        .product-good-gaps ol li {
            padding-bottom: 15px;
        }
        .product-good-gaps ol li:last-child {
            padding: 0;
        }
        .product-good-gaps ol li b.big {
            font-size: 17px;
        }
    .product-good-gaps .border {
        max-width: 260px;
        width: 27%;
        float: left;
        margin: 0 0 20px 20px;
        padding: 6px 8px;
        font-size: 14px;
    }
    .product-good-gaps .red {
        border: 2px dashed #f00;
    }
    .product-good-gaps .blue {
        border: 2px dashed #67b7ef;
    }
    .product-good-gaps .green {
        border: 2px dashed #00c100;
    }

.vendor-catalog .vcat {
    color: #0000ff;
}
.vendor-catalog .cat {
    font-size: 8pt;
}
.vendor-catalog .bound-category {
    color: #fc6001;
}
.vendor-catalog .unbind {
    color: #000;
}

/* upd 03.11.2016 */
.fullwidth {
    width:100%;
    float:left;
}
.vendor-select {
    max-width: 275px !important;
    font-size: 100% !important;
}

/* upd 15.11.2016 */
.imei_label {
    float: left;
    margin-top: 1px;
}
.name_title input {
    display: none;
}
.name_title .imei:hover {
    border-color: #666666;
    cursor: text;
}
.name_title .imei {
    min-height: 12pt;
    border: 1px solid transparent;
    float: left;
    width: 150px;
    margin-left: 5px;
}
/* upd 01.12.2016 */
#store_warranty {
	position: relative;
	top: 3px;
}
/* 13.12.2016 Issue #1142 upd 2.1 */
.cancel_order, 
.deleted_product {
    background-color: red;
}

.replaced, .replaced a {
    color: #de09ea;
}

/* PRIVATE AREA */
.greetings {
    font-size:1.5em; 
    text-align:center;
    margin-bottom:15px;
}
.left_block {
    width:50%; 
    float:left; 
    font-size: 12px;
}
.calendar {
    width:100%; 
    margin-bottom: 10px;
}
.accordion {
    width:100%; 
    height:auto; 
    margin-bottom: 25px;
}
.right_block {
    width:50%; 
    float:left;
    height:100%; 
    font-size: 12px;
}
.first_tab__header {
    font-size:12px; 
    font-weight:bold;
}
.first_tab__header :first-child {
    margin-right:50px;
}
.first_tab__header :nth-child(5) {
    margin-right:13px
}
.first_tab__header :nth-child(8) {
    margin-right:40px
}
.first_tab__header :nth-child(10) {
    margin-left:20px
}
.first_tab__content {
    margin-top: 20px;
}
.first_tab__content td {
	min-width: 10%;
	text-align: center;
}
.cityes {
    width:100%; 
    float:left;
}
.times {
    width:100%; 
    float:left; 
    text-align:center;
}
.cityes__table {
    width:100%;
}
/* 21.12.2016 */
.fourth_tab__table td {
    width: 5%;
    text-align: center;
}
.fourth_tab__table td:nth-child(2) {
    width: 85% !important;
    text-align: left !important;
}
.reason_title input {
    display: none;
    width: 100%;
}
.reason_title .reason {
	min-height: 12pt;
	border: 1px solid transparent;
	float: left;
	width: 150px;
	margin-left: 5px;
}
.new_reason {
    background-color: #53D151;
}
#reason_info {
    display: none;
}
/* 06.06.2017 #1471 */
.active_filter {
    color: red !important;
    font-weight: bold;
}
.propose .comment {
    min-height: 12pt;
    border: 1px solid transparent;
    float: left;
    width: 100%;
}
.propose input {
    width: 90% !important;
}
/* Issue #1561 */
.comments {
    width: 820px;
}
#addCommentHref {
    margin: 10px 0; 
    cursor: pointer;
}
#commentForm {
    display: none;
}
#commentBody {
    width: 100%; 
    height: 100px;
}
.comment_input {
    text-align: center;
}
#allComments {
    width: 100%;
}
.comment_area {
    margin: 10px 0; 
    width: 70%;
}
#commentDescriptinos {
    margin: 5px 0 0 5px;
}
#commentText {
    margin: 10px;
}
.comments h3 {
    text-align: center;
}
.comments .odd {
    float: right;
}
.comments .even {
    float: left;
}
.del_comment {
    display: block; 
    float: right; 
    color: red; 
    cursor: pointer;
}
.plan_content {
    margin: 10px;
}
/* Issue #1171 */
#seo {
	position: relative;
	top: 3px;
}

/* Issue #1528 */
.edit-category-backend th {
    text-align: left;
}
.edit-category-backend td span.title {
    padding-bottom: 6px;
    display: block;
}
.edit-category-backend td span.tag-links {
    padding: 4px 0 2px;
    display: block;
}

/* Issue #1792 */
.payments-export p,
.realizations p {
    margin: 0;
}
.payments-export input.payment-val {
    width: 65px;
    margin-bottom: 6px;
}
.export-payments,
.export-shipments {
    display: none;
}
.realizations td {
    position: relative;
}
.through-line {
    position: absolute;
    height: 0px;
    border: 1px solid #000;
    width: 800px;
}

.user-blacklist, .user-blacklist a {
    color: #f00;
}
.user-type-1, .user-type-1 a {
    color: #080;
    font-weight: bold;
}
.user-type-2, .user-type-2 a {
    color: #909;
    font-weight: bold;
}
.user-type-3, .user-type-3 a {
    color: #00f;
    font-weight: bold;
}
.user-type-4, .user-type-4 a {
    color: #c70;
    font-weight: bold;
}
.move-products {
    display: none;
}
.move-qty {
    background-color: #aff
}
.oder-copy-info {
    font-weight: bold;
    font-style: italic;
    color: #d00;
}

.table-head-sticky thead,
.table-head-sticky thead th,
.cell-sticky-top {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #000;
}
.cell-sticky-left {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.cancel-product {
    text-align: center;
    color: #f00;
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}
.filter2-find input.filter2-find {
    width: 75px;
    display: none;
}
.filter2.filter2-find .filter2-item {
    /* Will shown by js*/
    display: none;
}
.filter2.filter2-find .filter2-item.filter2-actual {
    display: inline-block;
}
.filter2 .filter2-item.filter2-active a,
.filter2 .filter2-item .filter2-plus,
.filter2 .filter2-item-count {
    color: #f00;
    font-weight: bold;
}
.filter2 .filter2-item-count:empty {
    display:none;
}
.filter2 .filter2-item-count,
.filter2 .filter2-item .filter2-plus {
    margin: 0 2px;
}
.filter2 .filter2-item.filter2-active .filter2-plus .filter2-add,
.filter2 .filter2-item .filter2-plus .filter2-remove {
    display: none;
}
.filter2 .filter2-item.filter2-active .filter2-plus .filter2-remove,
.filter2 .filter2-item .filter2-plus .filter2-add {
    display: inline-block;
}
div.filter2-ajax {
    margin: 15px 0;
}
a.filter2-ajax-filter {
    padding: 5px 10px;
    margin: 0 0;
    border: solid 2px;
    border-radius: 5px;
    color: #00d;
    text-decoration: none;
}
a.filter2-ajax-filter.active {
    font-weight: bold;
}
a.filter2-ajax-filter:hover {
    background-color: #eef;
}

.rrp-price-ingone-style_1 {
    color: #f00;
}
.rrp-rule-style_-2 {
    color: #f00;
}
.rrp-rule-style_0 {
    color: #070;
}
.rrp-rule-style_1 {
    color: #070;
}

tr.is_ignored {
    color: #c00;
}

.phone-auto-get-btn::after {
    content: "*";
    padding: 5px;
    cursor: pointer;
}

.multiselect ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 80px;
    overflow: auto;
}

td.vp-id ul, td.vp-stats ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

